{% include "sidebar.html.twig" %}

{% block body %}

	<div class="container ">
		<a href="{{ path("admin_create") }}" class="btn-add">
			<i class="far fa-user-plus fa-2x"></i>
		</a>
		<div class="responsive-table cartborder">
			<table class="table striped">
				<thead>
					<tr>
						<th>Nom d'utilisateur</th>
						<th>Rôle</th>
						<th>Suppression</th>
					</tr>
				</thead>
				<tbody>
					{% for admin in admins %}
						<tr>
							<td>{{ admin.username }}</td>
							<td>
								{% for unrole in admin.roles %}
									{% if unrole == 'ROLE_SUPADMIN' %}
										<li>Super Administrateur</li>
									{% elseif unrole == 'ROLE_CATI' %}
										<li>Responsable Ticket & Carnet</li>
									{% elseif unrole == 'ROLE_BGA' %}
										<li>Responsable Bagde</li>
									{% elseif unrole == 'ROLE_USER' %}
										<li class="hide">Respo</li>
									{% endif %}
								{% endfor %}
							</td>
							<td>
								<div class="fontdel">
									<a
										href="#" class="btnS modal-trigger" data-target="modal-delete" data-id="{{ admin.id }}" data-prenom="{{ admin.username }}">
										{# <i class="far fa-minus-square"></i> #}
										<i class="fas fa-minus-octagon"></i>
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="modal shadow-1 white falling" id="modal-delete" data-ax="modal">
			<div class="modal-header">Supprimer un(e) person(ne)</div>
			<div class="divider"></div>
			<div class="modal-content"></div>
			<div class="divider"></div>
			<div class="modal-footer">
				<a href="" class="btn-red">Valider</a>
			</div>
		</div>
	</div>

	{% block javascripts %}
		<script src="/assets/js/skripta.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axentix@1.3.3/dist/js/axentix.min.js"></script>
	{% endblock %}
{% endblock %}
