{% include "sidebar.html.twig" %}

{% block title %}
	Accès interdit
{% endblock %}

{% block body %}
	<div class="container">
		<div class="cont403">
			<div class="cart403">
                {# <i class="fal fa-lock"></i> #}
				<span class="chiffre">4</span><i class="fas fa-do-not-enter"></i><span class="chiffre">3</span>
				<h1>Accès non autorisée</h1>
				<p>Vous n'avez pas la permission nécessaire pour visiter cette page.</p>
			</div>
		</div>
	</div>
{% endblock %}
