{% extends "base.html.twig" %}

{% block title %}
	Page non trouvée
{% endblock %}

{% block body %}
	<div class="cont403">
		<div class="cart403">
			<div class="h1ngezabe">Page non trouvée</div>
			<p>La page que vous cherchez n'a pas été trouvée.</p>
        
		</div>
	</div>

{% endblock %}
